---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HomeHero from '../components/home/HomeHero.astro';
import HomeTrustStrip from '../components/home/HomeTrustStrip.astro';
import HomeTopPicks from '../components/home/HomeTopPicks.astro';
import HomeAppExplorer from '../components/home/HomeAppExplorer.astro';
import HomeFindMatch from '../components/home/HomeFindMatch.astro';
import HomeRecentUpdates from '../components/home/HomeRecentUpdates.astro';
import HomeHowWeTest from '../components/home/HomeHowWeTest.astro';
import HomeBrowseGoals from '../components/home/HomeBrowseGoals.astro';
import HomeGuides from '../components/home/HomeGuides.astro';
import HomeFinalCta from '../components/home/HomeFinalCta.astro';
import {
  buildExplorerApps,
  featuredGuides,
  homeMeta,
  recentUpdates,
  topPicks,
} from '../data/homepage';

const apps = buildExplorerApps();
---

<BaseLayout title={homeMeta.title} description={homeMeta.description} image={homeMeta.heroImage}>
  <Header />
  <main>
    <HomeHero />
    <HomeTrustStrip />
    <HomeTopPicks picks={topPicks} />
    <HomeAppExplorer apps={apps} />

    <section class="home-section section-container px-4 md:px-8">
      <div class="home-split">
        <HomeFindMatch />
        <HomeRecentUpdates updates={recentUpdates} />
      </div>
    </section>

    <HomeHowWeTest />
    <HomeBrowseGoals />
    <HomeGuides guides={featuredGuides} />
    <HomeFinalCta />
  </main>
  <Footer />
</BaseLayout>
